* {
    font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
}

p {
    color: white !important;
}

.col img {
    text-align: center;
}

.col-lg-5 img {
    border: 10px red solid !important;
    border-radius: 15px;
    margin-bottom: 50px;
    max-width: 100%;
    height: auto;
    margin-left: 60px;
}

.col-lg-6 {
    text-align: left !important;
    margin-bottom: 50px;

}

body {
    background-color: #0a192f !important;
    ;
}

.jumbotron {
    padding: 100px 0px 150px 0px !important;
    background-color: #0a192f;
    margin-top: -10px;
    margin-bottom: 0 !important;
    color: white !important;
}

.jumbotron img {
    float: right;
}

.about {
    margin-bottom: 100px;
}

.navbar {
    background-color: #0a192f !important;
    color: white !important;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 150px;

}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
    font-size: larger !important;
}

.nav-item {
    color: white !important;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    display: inline-block;
    position: relative;

}

.nav-item::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.navbar-brand {
    color: white !important;
    background-color: #0a192f !important;
    font-size: 50px !important;
    padding-left: 50px;
}

.navbar-light .navbar-toggler {
    border-color: white !important;
    color: white !important;
}

.card {
    border: none !important;
    opacity: 0.5;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.card img {
    -webkit-filter: grayscale(1);
}

.card img:hover {
    -webkit-filter: grayscale(0);
}

.card:hover {
    border: none !important;
    opacity: 1;
    box-shadow: 5px 5px 10px white;
    top: -5px;

}


.card-title {
    color: white !important;
}

.text1 {
    color: red;
    font-weight: bold;
}

.row {
    align-items: center !important;
    justify-content: center !important;
}

.underline {
    border-bottom: 5px red solid;
}



.about-me {
    text-align: center;
    color: white !important;
    margin-bottom: 75px;

}

.work-title {
    text-align: center;
    color: white !important;
    margin-bottom: 50px;

}

.bio-title,
.bio-text {
    margin-bottom: 20px;
    color: white !important;

}

.bio-title {
    font-weight: bold;
}

.card-body {
    background-color: #0a192f;
}

.col-md-6 {
    margin-bottom: 50px;
}

footer {
    margin-top: 100px;
}

footer .lead {
    text-align: center;
}

.footer a {
    color: #fff;
}

.footer-info p {
    margin: 0;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white !important;
}

a:hover {
    text-decoration: none;
    color: white !important;
}

.btn-primary:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.btn-sm {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.col-md-4 {
    width: 50%;
}


.footer-info {

    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 100px;
}

.copytext {
    margin-top: 30px;
    color: rgb(94, 91, 91) !important;
    text-align: center;
    font-size: 12px;
}